
  .barchart{
    height:40%;
    width:400px;
    margin-left: 2rem;
  }
  .Dashboard-table{
    display: flex;
   margin: 1rem 3rem;
  }
  .Dashboard-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width:500px;
    height: 45vh;
    border-radius: 20px;
    box-shadow: rgba(52, 190, 130, 0.5) 0px 5px 15px;
 
    float: right;
    margin-top: -21rem;
    margin-right: 20rem;
  }
 .Dashboard-card h1{
   color:#2F86A6;
   font-size: 50px;
   margin-bottom: 2rem;
 }
 .Dashboard-card p{
   text-transform: capitalize;
   color: #34BE82;
   font-size: 25px;
   font-weight: bold;
 }
 .Dashboard-desc{
   margin: 1rem 3rem;
   padding: 2rem;
   font-size: 20px;
   text-transform: lowercase;
   border-radius: 10px;
   text-align: justify;
   background-color:rgba(52, 190, 130, 0.2) ;
   color:grey;
 }
  .label{
    color:#2F86A6;
    font-size: 18px; 
    margin-left: 2rem;
    font-weight: bold;
    display: flex;
    align-self: center;
  }
  .label span{
    color: #34BE82;
  }
 .Dashboard-card-media{display: none;}
  @media  (max-width: 1024px){
    .barchart{
      height:40%;
      width:300px;
      margin-left: 2rem;
    }
    .Dashboard-card{
     display: none;
    }
    .Dashboard-desc{
      display: -webkit-box;   
      -webkit-line-clamp: 4;   
      -webkit-box-orient: vertical;     
      overflow: scroll; 
      
    }
    .Dashboard-card-media{
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 20px;
    
    }
    .Dashboard-card-media h1{
      color:#2F86A6;
      font-size: 30px;
      margin-bottom: 1rem;
    }
    .Dashboard-card-media p{
      text-transform: capitalize;
      color: #34BE82;
      font-size: 15px;
      font-weight: bold;
    }
  }